@charset "UTF-8";
/**************************자유게시판******************************/
@media (min-width: 992px){
	/* .list tr th:first-child  {
		display: block;
	}
	.list tr td:first-child  {
		display: block;
	} */
}
 @media (max-width: 991.98px) {
	.list tr th:first-child  {
		display: none;
	}
	.list tr td:first-child  {
		display: none;
	}
	.list tr th  {
	    font-size: 12px;
	}
	.list tr td  {
	    font-size: 12px;
	}
}

.board_all_div {
    max-width:850px;
    margin: 0 auto;
}
/* 글 검색 */
.board_search {
    overflow: hidden;
    width: 270px;
    margin-left: calc(100% - 270px);
    margin-bottom: 10px;
}

.board_search select {
	width: 90px;
	padding: 4px;
	font-family: inherit;
	background:
		url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg)
		no-repeat 95% 50%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 14px;
	background-size: 20px;
	border: 1px solid #ddd;
	float: left;
	height: 31px;
}

.board_search .board_search_p {
	border: 1px solid #ddd;
	float: left;
	height: 31px;
	margin: 0 0 0 10px;
	padding: 2px;
	width: 170px;
}

.board_search input[type="text"] {
	font-size: 14px;
	border: none;
	float: left;
	width: 136px;
	height: 26px;
}

.board_search .board_search_btn {
	background: url(/together/resources/images/search.svg) no-repeat center;
	border: none;
	text-indent: -9999em;
	overflow: hidden;
	background-size: 20px;
	float: right;
}
/* 게시판 */
.board_list {
	margin-bottom: 1rem;
	overflow: hidden;
}

.list {
    width: 100%;
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}
.list tr {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #eee;
}
.list tr:last-child {
	border: 0;
}
.list th {
	background: #fafafa;
}
.list th, td {
	text-align: center;
	color: #1b1b1b;
}
.list th:nth-child(2) {
	text-align: left;
	padding-left: 10px;
}
.list td:nth-child(2) {
	text-align: left;
	padding-left: 10px;
}
.list td a {
	color: #1b1b1b;
}
.list td a:hover {
	font-weight: 700;
}
.board_list .board_btn {
    float: right;
    padding: 5px 10px !important;
    font-size: 14px;
    margin: 10px 5px 0 0;
}
/* 페이징 */
.list_page {
	
}

.list_page ul {
	overflow: hidden;
    padding: 0;
    margin: 0 auto !important;
    width: 200px;
}

.list_page ul li {
	list-style: none;
    float: left;
    padding: 0 10px;
}

.list_page ul li a {
    color: #1b1b1b;
}
select {
	
}
/**************************자유게시글 쓰기******************************/
.container {
	height: 80%;
}

.themain {
	margin-top: 10%;
	margin-bottom: 10%;
}

.freeform {
	width: 66%;
	margin-left: 17%;
	margin-right: 17%;
}
.sbmbtn {
	float: right;
	width: 15%;
}
@media ( min-width :701px) and ( max-width :1200px) {
	.freeform {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}
	.sbmbtn {
		width: 30%;
	}
}
@media ( max-width :700px) {
	.freeform {
		width: 88%;
		margin-left: 6%;
		margin-right: 6%;
	}
	.themain {
		margin-top: 30%;
	}
	.sbmbtn {
		margin-left:30%;
		margin-right:30%;
		width: 40%;
		float: none;
	}
}
/**************************채식게시판 상세글******************************/

@media ( min-width : 992px) {
	.KorRes_detail{
		width : 70%;
		padding : 20px 0px;
		margin : 0 auto;
	}
	
	img #KorRes_pic {
		height : 300px;
	}
	
}

@media ( max-width : 991.98px) {
	#KorRes_pic {
		width : 100%;
		height : 100%;
	}
	
	.KorRes_detail{
		width : 90%;
		padding : 20px 0px;
		margin-left : 10px;
	}
	
	img{
		width : 100% !important;
		margin-left: 7px;
	}
	
}

.to_board_title div h3{
	border-bottom : 1px solid #d4d4d4;
	padding : 20px 0px;
}

.detail {
	overflow : hidden;
}

#KorRes_pic, #KorRes_texts{
	margin-top : 30px;
	margin-right : 30px;
	float : left;
}

#KorRes_texts_detail{
	padding : 20px 0px;
	clear : both;
}

#KorRes_texts div{
	margin : 0px 0px 0px 20px;
	border-bottom : 1px solid black;
	padding-bottom: 10px;
}

#KorRes_texts ul {
	padding-top : 20px;
	padding-left : 0px;
	list-style-type : none;
}

#KorRes_texts ul li:nth-child(2n){
	padding : 5px 0px; 
}
#KorRes_texts ul li:not(:nth-child(2)) {
	padding-bottom: 0px;
}

#KorRes_texts ul li span {
	display: inline-block;
    background: #f9a771;
    color: #ffffff;
    width: 75px;
    padding: 0 0 0 0px;
    border-radius: 5px;
    text-align : center;
    margin-right : 10px;
}

#KorRes_texts_detail p{
	font-size : 20px;
	margin : 0 0 20px 20px;
}

