@charset "UTF-8";
.card-img-top{
	/* height: 20%; */
    margin: 0;
}
.card{
	width: 95%;
}
.card-body{
	padding: 3%;
}
.text-muted{
	float: left;
}
.phone-number{
	float: right;
}
@media ( min-width :701px) and ( max-width :1200px) {
}
@media ( max-width :700px) {
}

/**************************채식게시판 상세글******************************/

@media ( min-width : 992px) {
	.KorRes_detail{
		width : 70%;
		padding : 20px 0px;
		margin : 0 auto;
	}
	
	img #KorRes_pic {
		height : 300px;
	}
	
}

@media ( max-width : 991.98px) {
	#KorRes_pic {
		width : 100%;
		height : 100%;
	}
	
	.KorRes_detail{
		width : 90%;
		padding : 20px 0px;
		margin-left : 10px;
	}
	
	img{
		width : 100% !important;
		margin-left: 7px;
	}
	
}

.to_board_title div h3{
	border-bottom : 1px solid #d4d4d4;
	padding : 20px 0px;
}

.detail {
	overflow : hidden;
}

#KorRes_pic, #KorRes_texts{
	margin-top : 30px;
	margin-right : 30px;
	float : left;
}

#KorRes_texts_detail{
	padding : 20px 0px;
	clear : both;
}

#KorRes_texts div{
	margin : 0px 0px 0px 20px;
	border-bottom : 1px solid black;
	padding-bottom: 10px;
}

#KorRes_texts ul {
	padding-top : 20px;
	padding-left : 0px;
	list-style-type : none;
}

#KorRes_texts ul li:nth-child(2n){
	padding : 5px 0px; 
}
#KorRes_texts ul li:not(:nth-child(2)) {
	padding-bottom: 0px;
}

#KorRes_texts ul li span {
	display: inline-block;
    background: #f9a771;
    color: #ffffff;
    width: 75px;
    padding: 0 0 0 0px;
    border-radius: 5px;
    text-align : center;
    margin-right : 10px;
}

#KorRes_texts_detail p{
	font-size : 20px;
	margin : 0 0 20px 20px;
}

